"*":
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    scrollPastEnd: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "21e39b91-85d4-4a48-8ecd-390cf50d0a2b"
